@import url(./reset.css);
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal; /*400*/
    font-style: normal;
    
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}
body {
    background-color: #5B2386;
    text-align: center;   
    color: #FFFFFF;
    white-space: nowrap;
}
.sr-only {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
}

.header{
    margin-bottom : 66px;
}
.header__title{
    height:225px;
    margin-top:219px;   
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__title > img{
    width:564px;   
}

.explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 102px;
}
.explain__title{
    font-family: 'OTEnjoystoriesBA';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #F5DF4D;
    margin-bottom:78px;
}
.explain__wrapper{
    position: relative;   
}
.explain__desc {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6em;
    color: #FFFFFF;      
}
.explain .quote__left {
    position: absolute;
    display: block;
    top:30px;
    left:-70px;
}
.explain .quote__right {
    position: absolute;
    top:30px;
    right:-70px;
}
.explain__desc > strong {
    font-size : 1.5em;
    font-weight:700
}
/* section - wannabe */
.wannabe {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color : #FFFFFF;
}
.wannabe__form p:first-of-type {
    margin-bottom: 27px;
}
.wannabe__form input {
    padding: 17px 40px;
    background: #FFFFFF;
    border-radius: 7px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.wannabe__btn {
    background: #FCEE21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #5B2386;
    margin-top : 136px;
    padding: 21px 50px;
}
.wannabe__click {
    position:relative;
    top:50px;
    left:5px;
}


.result {
    margin-top : 147px;

}
.result > p {
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;   
}
.result__text {
    font-weight: 700;
    font-size: 72px;
    line-height: 72px;
}
.result > .btn__box > button {
    margin-top: 127px;
    padding: 21px 49px;  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #5B2386;
}
.result > .btn__box > button:first-child {
    background: #FCEE21;
    margin-right:12px;
}

.footer {
    margin-top : 130px;
    text-align: center;
}
.footer__wrapper {
    margin-bottom:20px;
}
.footer__copyright {
    display: block;
    margin-bottom:116px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}

.fighting {
    width:800px;
    height:800px;
    background-color:#ffffff;
    padding:58px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
.fighting__title {
    font-family: 'OTEnjoystoriesBA';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 106px;
    color: #5B2386;
}
.fighting__desc {
    font-family: 'tvN Enjoystories';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #5B2386;
}
.fighting img {
    display: block;
    margin-top: 73.85px;
    margin-bottom: 74.1px;
    margin-left:auto;
    margin-right:auto;
}
.fighting button {
    display:block;
    margin-left : auto;
    margin-right:auto;
    margin-bottom:68px;
    background: #FCEE21;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 56px;
    padding: 21px 49px;
    gap: 10px;
    border : none;

    font-family: 'Gmarket Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px; 
    color: #5B2386;
}

@media (max-width : 800px) {

.header{
    margin-bottom : 40.51px;
}
.header__title{
    height:106.98px;
    margin-top:50.51px;   
}
.header__title > img{
    width:267px;   
}

.explain {
    margin-bottom: 62px;
}
.explain__title{
    font-size: 22px;
    line-height: 24px;
    margin-bottom:62px;
}

.explain__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6em; 
}
.explain .quote__left {
    position: absolute;
    display: block;
    width:1em;
    height:1em;
    top:30px;
    left:-10px;
}
.explain .quote__right {
    position: absolute;
    top:30px;
    right:-10px;
    width:1em;
    height:1em;
}

.explain__desc > strong {
    font-size : 1.5em;
    font-weight:700
}


.wannabe {
    font-size: 14px;
    line-height: 14px;
    color : #FFFFFF;
}
.wannabe__form p:first-of-type {
    margin-bottom: 27px;    
}
#wannabe__block {
    display:block;
    margin-bottom:19px;
}

.wannabe__form input {
    padding: 12px 35px;
    font-size: 14px;
    line-height: 14px;
}
.wannabe__btn {
    font-size: 14px;
    line-height: 14px;
    margin-top : 49px;
    padding: 19px 36.5px;
}
.wannabe__click {
    position:relative;
    top:50px;
    left:5px;
}

.result {
    margin-top : 64px;
}
.result > p {
    font-size: 14px;
    line-height: 14px;   
}
.result__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.result > .btn__box > button {
    margin-top: 55px;
    padding: 13.5px 17.5px;  
    font-size: 14px;
    line-height: 14px;
}
.result > .btn__box > button:first-child {
    background: #FCEE21;
    margin-right:12px;
}

.footer {
    margin-top : 83px;
    text-align: center;
}
.footer__wrapper {
    margin-bottom:17px;
}
.footer__copyright {
    display: block;
    font-size: 9px;
    line-height: 13px;
}

.fighting {
    width: 330px;
    height:500px;
    padding:30px;
    margin : 0 auto;
}
.fighting img {
    display:none;
}

.fighting__title {
    font-size: 64px;
    line-height: 70px;
}
.fighting__desc {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #5B2386;
    margin-bottom:176px;
}
.fighting__btn {
    border-radius: 13px;
    padding: 19px 45px;
    gap: 10px;
    /* text */
    font-weight: 700;
    font-size: 14px;
    line-height: 14px; 
}
}